head
  title AKKA Chess
  link(rel="stylesheet" href="board/css/chessboard-0.3.0.css")
  link(rel="stylesheet" href="styles/akka.css")
  script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
  script(src="board/js/chessboard-0.3.0.min.js")
  script(src="scripts/chess.min.js")
  script(src="scripts/api.js")
  script(src="scripts/player.js")
  script(src=main)