html
  include includes/head.pug
  body
    .container 
     
      
      .board-wrapper.center
        .header
          h3 Let's play!
          #loading Waiting for opponenet
        #board.center
        #message.center